<button ui-sref="home"
    style=" 
 background-color: white; color:black; border: 1px solid black; position: fixed; z-index: 999; top: 10px; left: 10px;">BACK!</button>
<div class="frame" style="z-index:999; position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    <img id="reference-src" type="image/png" src="../assets/reference.png" crossorigin="anonymous">
</div>

<button id="center" style="position: fixed; bottom: 20px; left: 50%; width: 60px; height: 60px; border-radius: 30px; margin-left: -30px; background-color: white; border: 1px solid #000;">
    <i class="fas fa-play" style="color: black;"></i>
</button>

<img src="/../assets/play.png" style="position: fixed; bottom: 100px; left:50%; width: 125px; height: 53.75px; margin-left:-62.5px;">

<a-scene embedded arjs="debugUIEnabled: false; trackingMethod: best;" vr-mode-ui="enabled: false">

    <!-- This is a "mixin" we can apply to planets to make them
            rotate-->
    <a-mixin id="rotation"
        animation="property: rotation; loop: true; from:  0 0 0; to: 0 360 0; dur: 20000; easing: linear;"></a-mixin>

    <!-- here is a "mixin" that we can apply to a container to make the
            planet inside it orbit -->
    <a-mixin id="orbit" animation="property: rotation; loop: true; to: 0 360 0; dur: 40000; easing: linear;"></a-mixin>

    <a-assets>
        <img id="sun-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2F1024px-Map_of_the_full_sun.jpg?1540859304920"
            crossorigin="anonymous">
        <img id="mercury-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Fmercurymap.jpg?1541102122291"
            crossorigin="anonymous">
        <img id="venus-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Fvenusmap.jpg?1541102155907"
            crossorigin="anonymous">
        <img id="earth-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Fearthmap1k.jpg?1541102064615"
            crossorigin="anonymous">
        <img id="mars-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Fmars_1k_color.jpg?1541102234577"
            crossorigin="anonymous">
        <img id="jupiter-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Fjupitermap.jpg?1541101634813"
            crossorigin="anonymous">
        <img id="saturn-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Fsaturnmap.jpg?1541102148468"
            crossorigin="anonymous">
        <img id="uranus-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Furanusmap.jpg?1541102150185"
            crossorigin="anonymous">
        <img id="neptune-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Fneptunemap.jpg?1541102137305"
            crossorigin="anonymous">
        <img id="pluto-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Fplutomap1k.jpg?1541102145905"
            crossorigin="anonymous">
        <img id="moon-texture"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2FMoonmap_from_clementine_data.png?1541102132708"
            crossorigin="anonymous">
        <a-asset-item id="asteroids" response-type="arraybuffer"
            src="https://cdn.glitch.com/d558c128-2ed0-4284-a0da-4d18b9163ad6%2Fasteroides.glb?1541106805090">
        </a-asset-item>
    </a-assets>
    <!-- Marker 1: Full Moon by Michael Light -->
    <a-marker type="pattern" url="../Harn-Markers/light-marker.patt" markerhandler emitevents="true" id="light-marker">
        <!-- Into Text -->
        <a-entity
            animation="property: rotation; dir: alternate; dur: 3000; easing: linear; loop: true; from: 0 0 -25;to: 0 0 25; pauseEvents: light-fadeout">
            <a-entity id="light-text" position="-1.82 0 0" rotation="-90 0 0" scale="1 1 1"
                animation__scaledown="property: scale; from: 1 1 1; to: 0 0 0; dur: 2000; autoplay: false; startEvents: light-fadeout"
                animation__togglevisibleoff="property: visible; from: true; to: false; dur: 1; autoplay: false; delay: 2000; startEvents: light-fadeout">
                <a-entity id="light-top-text" scale="1.2 1.2 1.2" position="0.237 0.646 0"
                    text-geometry="value:Full Moon" material="color:white;"></a-entity>
                <a-entity id="light-bottom-text" text-geometry="value: Micheal Light;" material="color:white;"
                    animation="property: material.opacity; dur: 100;
                                          easing: linear; from 1; to: 0; startEvents: light-fadeout"></a-entity>
            </a-entity>
        </a-entity>

        <!-- Our Solar System, wrapped for scaling and rotating -->
        <a-entity id="light-content" scale="0.3 0.3 0.3" rotation="90 0 0" visible="false"
            animation__togglevisible="property: visible; from: false; to: true; dur: 1; autoplay: false; delay: 2000; startEvents: light-fadein">
            <!-- <a-entity id="basic-light" light="type: ambient; color: #BBB"></a-entity> -->

            <a-entity star-system="count: 1000; radius: 250; depth: 0"></a-entity>

            <!-- large rings we can use to guide our orbits -->
            <a-entity geometry="primitive: torus; radius: 3; radiusTubular: 0.01;segmentsTubular: 50"
                material="color: #FFFFFF;opacity: 0.3" rotation="90 0 0" scale="2 2 0.1"></a-entity>
            <a-entity geometry="primitive: torus; radius: 4.24; radiusTubular: 0.01;segmentsTubular: 50"
                material="color: #FFFFFF;opacity: 0.3" rotation="90 0 0" scale="2 2 0.1"></a-entity>
            <a-entity geometry="primitive: torus; radius: 5.24; radiusTubular: 0.01;segmentsTubular: 50"
                material="color: #FFFFFF;opacity: 0.3" rotation="90 0 0" scale="2 2 0.1"></a-entity>
            <a-entity geometry="primitive: torus; radius: 6.25; radiusTubular: 0.01;segmentsTubular: 50"
                material="color: #FFFFFF;opacity: 0.3" rotation="90 0 0" scale="2 2 0.1"></a-entity>
            <a-entity geometry="primitive: torus; radius: 12.1; radiusTubular: 0.01;segmentsTubular: 50"
                material="color: #FFFFFF;opacity: 0.3" rotation="90 0 0" scale="2 2 0.1"></a-entity>
            <a-entity geometry="primitive: torus; radius: 15.55; radiusTubular: 0.01;segmentsTubular: 50"
                material="color: #FFFFFF;opacity: 0.3" rotation="90 0 0" scale="2 2 0.1"></a-entity>
            <a-entity geometry="primitive: torus; radius: 18.05; radiusTubular: 0.01;segmentsTubular: 50"
                material="color: #FFFFFF;opacity: 0.3" rotation="90 0 0" scale="2 2 0.1"></a-entity>
            <a-entity geometry="primitive: torus; radius: 20.05; radiusTubular: 0.01;segmentsTubular: 50"
                material="color: #FFFFFF;opacity: 0.3" rotation="90 0 0" scale="2 2 0.1"></a-entity>
            <a-entity geometry="primitive: torus; radius: 23.05; radiusTubular: 0.01;segmentsTubular: 50"
                material="color: #FFFFFF;opacity: 0.3" rotation="90 0 0" scale="2 2 0.1"></a-entity>


            <!-- let's make the sun rotate and give off light!-->
            <a-sphere id="sun" position="0 0 0" radius="4" src="#sun-texture" mixin="rotation" material="shader: flat;">
            </a-sphere>

            <a-entity id="asteroid-belt" gltf-model="#asteroids" scale="2.1 2.1 2.1" position="0 0 0" mixin="rotation"
                animation="dur: 60000;"></a-entity>

            <!-- our basic planets, we're going to wrap them so we can apply
                orbits to them and also give them rotation-->
            <a-entity id="orbit-mercury" mixin="orbit" animation="dur: 20000;">
                <a-sphere id="mercury" position="0 0 6" radius=".4" src="#mercury-texture" mixin="orbit"></a-sphere>
            </a-entity>

            <a-entity id="orbit-venus" mixin="orbit">
                <a-sphere id="venus" position="0 0 8.5" radius=".4" src="#venus-texture" mixin="rotation">
                </a-sphere>
            </a-entity>

            <a-entity id="orbit-mars" mixin="orbit">
                <a-sphere id="mars" position="0 0 12.5" radius=".4" src="#mars-texture" mixin="rotation"></a-sphere>
            </a-entity>

            <a-entity id="orbit-jupiter" mixin="orbit" animation="dur: 90000;">
                <a-sphere id="jupiter" position="0 0 24" radius="2.5" src="#jupiter-texture" mixin="rotation">
                </a-sphere>
            </a-entity>

            <a-entity id="orbit-pluto" mixin="orbit" animation="dur: 80000;">
                <a-sphere id="pluto" position="0 0 46" radius=".4" src="#pluto-texture" mixin="rotation"></a-sphere>
            </a-entity>


            <!--there are two orbits here- the earth itself and the earth around the moon-->
            <a-entity id="orbit-earth" mixin="orbit" animation="dur: 30000;">
                <a-entity id="earth-and-moon" position="0 0 10.5">
                    <a-entity id="earth-container">
                        <a-sphere position="0 0 0" radius=".5" id="earth" src="#earth-texture" mixin="rotation">
                        </a-sphere>
                        <a-entity id="moon-container" mixin="orbit">
                            <a-sphere position="-1 0 0" radius=".10" id="moon" src="#moon-texture"></a-sphere>
                        </a-entity>
                    </a-entity>
                </a-entity>
            </a-entity>

            <!--we'll need to wrap these further to get our orbits working-->
            <a-entity id="orbit-saturn" mixin="orbit">
                <a-entity id="saturn-container" position="0 0 31">
                    <a-sphere radius="1.8" id="saturn" src="#saturn-texture" mixin="rotation"></a-sphere>
                    <a-entity id="saturn-ring-1"
                        geometry="primitive: torus; radius: 3.2; radiusTubular: 0.1;segmentsTubular: 50"
                        material="color: #57524A;" rotation="90 0 0" scale="1 1 0.1"></a-entity>
                    <a-entity id="saturn-ring-2"
                        geometry="primitive: torus; radius: 2.4; radiusTubular: 0.2;segmentsTubular: 50"
                        material="color: #A29A87;" rotation="90 0 0" scale="1 1 0.1"></a-entity>
                </a-entity>
            </a-entity>

            <a-entity id="orbit-uranus" mixin="orbit" animation="dur: 70000;">
                <a-entity id="uranus-container" position="0 0 36">
                    <a-sphere id="uranus" radius=".75" src="#uranus-texture" mixin="rotation"></a-sphere>
                    <a-entity id="uranus-ring"
                        geometry="primitive: torus; radius: 1.5; radiusTubular: 0.01;segmentsTubular: 50"
                        material="color: #FFFFFF;" rotation="-10 90 0" scale="1 1 0.1"></a-entity>
                </a-entity>
            </a-entity>

            <a-entity id="orbit-neptune" mixin="orbit" animation="dur: 35000;">
                <a-entity id="neptune-container" position="0 0 40">
                    <a-sphere id="neptune" radius="1" src="#neptune-texture" mixin="rotation"></a-sphere>
                    <a-entity id="neptune-ring-1"
                        geometry="primitive: torus; radius: 2; radiusTubular: 0.01;segmentsTubular: 50"
                        material="color: #FFFFFF;opacity: 0.8" rotation="90 0 0" scale="1 1 0.1"></a-entity>
                    <a-entity id="neptune-ring-2"
                        geometry="primitive: torus; radius: 1.7; radiusTubular: 0.05;segmentsTubular: 50"
                        material="color: #FFFFFF;opacity: 0.8" rotation="90 0 0" scale="1 1 0.1"></a-entity>
                    <a-entity id="neptune-ring-3"
                        geometry="primitive: torus; radius: 1.3; radiusTubular: 0.01;segmentsTubular: 50"
                        material="color: #FFFFFF;opacity: 0.8" rotation="90 0 0" scale="1 1 0.1"></a-entity>
                </a-entity>
            </a-entity>
        </a-entity>
    </a-marker>
    <!-- Marker 2: Veil by Jeff Joyce-->
    <a-anchor type="pattern" url="../Harn-Markers/joyce-marker.patt" markerhandler emitevents="true" id="joyce-marker"
        hit-testing-enabled="true">
        <!-- Into Text -->
        <a-entity
            animation="property: rotation; dir: alternate; dur: 3000; easing: linear; loop: true; from: 0 0 -25;to: 0 0 25; pauseEvents: joyce-fadeout">
            <a-entity position=" -1.667 0 0" rotation="-90 0 0" id="joyce-text"
            animation__scaledown="property: scale; from: 1 1 1; to: 0 0 0; dur: 2000; autoplay: false; startEvents: joyce-fadeout"
            animation__togglevisibleoff="property: visible; from: true; to: false; dur: 1; autoplay: false; delay: 2000; startEvents: joyce-fadeout">
            <a-entity scale="1.2 1.2 1.2" position="1.005 0.646 0.015" text-geometry="value:Veil"
                material="color:white"></a-entity>
            <a-entity text-geometry="value: Jeff Joyce;" material="color:white"></a-entity>
        </a-entity>
        </a-entity>
        <a-portal-door id="joyce-content" visible="false"
            url="client/assets/4398758795_62432fcf13_o.jpg" position="0 0 1" scale="1 1 1"
            rotation="-90 0 0"
            animation__togglevisible="property: visible; from: false; to: true; dur: 1; autoplay: false; delay: 2000; startEvents: joyce-fadein"></a-portal-door>
    </a-anchor>

    <!-- Marker 3: Nets-Infinity by Kusama -->
    <a-marker type="pattern" url="../Harn-Markers/kusama-marker.patt" markerhandler emitevents="true"
        id="kusama-marker">

        <!-- Into Text -->
        <a-entity
            animation="property: rotation; dir: alternate; dur: 3000; easing: linear; loop: true; from: 0 0 -25;to: 0 0 25;pauseEvents: kusama-fadeout">
            <a-entity position="-1.82 0 0" rotation="-90 0 0" id="kusama-text"
                animation__scaledown="property: scale; from: 1 1 1; to: 0 0 0; dur: 2000; autoplay: false; startEvents: kusama-fadeout"
                animation__togglevisibleoff="property: visible; from: true; to: false; dur: 1; autoplay: false; delay: 2000; startEvents: kusama-fadeout">
                <a-entity scale="1.2 1.2 1.2" position="-0.008 0.646 0.015" text-geometry="value:Nets-Inifinity"
                    material="color:white"></a-entity>
                <a-entity text-geometry="value: Yayoi Kusama;" material="color:white"></a-entity>
            </a-entity>
        </a-entity>

        <!-- Rotating box with initial offset -->
        <a-entity id="kusama-content" rotation="45 45 45" position="0 1 0" scale=".5 .5 .5" visible="false"
        animation__togglevisible="property: visible; from: false; to: true; dur: 1; autoplay: false; delay: 2000; startEvents: kusama-fadein">
            <!-- src="../assets/video/KusamaBoxStatic.mp4" -->
            <a-box position="0 0 0" rotation="0 0 0" scale="1 1 1" color="white">
                <a-animation attribute="rotation" dur="10000" to="360 360 360" repeat="indefinite" easing="linear">
                </a-animation>
                <a-animation attribute="material.src" dur="10000" to="../assets/video/KusamaBoxStatic.mp4">
                </a-animation>
            </a-box>
            <!-- Particle System -->
            <a-entity position="0.016 0.987 0.04">
                <a-entity
                    spe-particles="texture: ../assets/star.png;color: red; distribution: sphere; radius: 1; randomize-position: false; particle-count: 250; velocity: 5; velocity-spread: 3; drag: 1; max-age: 1; active-multiplier: 1; size: 1,.2; direction: backward">
                </a-entity>
            </a-entity>
        </a-entity>
    </a-marker>

    <!-- Define a static camera -->
    <!-- <a-camera-static id='camera' clipping-plane/> -->
    <a-entity id='camera' camera></a-entity>
</a-scene>
