<div class="navbar">
    <button id="left">
        <i class="fas fa-user"></i>
    </button>
    <button id="center">
        <i class="fas fa-play"></i>
    </button>
    <button id="right" ui-sref="vr">
        <i class="fas fa-archway"></i>
    </button>
</div>

<a-scene embedded arjs="debugUIEnabled: false; trackingMethod: best;" vr-mode-ui="enabled: false">
    <a-asset>
        <a-asset-item id="moon-obj" src="client/assets/3D/Moon.obj"></a-asset-item>
        <a-asset-item id="moon-mtl" src="client/assets/3D/Moon.mtl"></a-asset-item>
    </a-asset>
    <!-- Marker 1: Full Moon by Michael Light -->
    <!-- <a-marker markerhandler emitevents="true" id="marker" preset="hiro"> -->
    <a-marker type="pattern" url="../Harn-Markers/light-marker.patt" markerhandler emitevents="true" id="marker">
        <a-entity obj-model="obj: #moon-obj;" scale="0.001 0.001 0.001"></a-entity>
    </a-marker>

    <!-- Marker 2: Veil by Jeff Joyce-->
    <a-anchor type="pattern" url="../Harn-Markers/joyce-marker.patt" markerhandler emitevents="true" id="marker"
        hit-testing-enabled="true">
        <a-portal-door url="https://cdn.aframe.io/360-image-gallery-boilerplate/img/city.jpg" position="0 0 1" scale="1 1 1" rotation="-90 0 0"></a-portal-door>
    </a-anchor>

    <!-- Marker 3: Nest-Infinity by Kusama -->
    <a-marker type="pattern" url="../Harn-Markers/kusama-marker.patt" markerhandler emitevents="true" id="marker">
        <a-entity id="parent" position="0 0 0">
            <a-image id="vitali-img" src="#vitali-src" position="1.3 0 0" rotation="-90 0 0" scale="1 1 1"
                emitevents="true">
                <a-animation attribute="position" to="1.3 1 0" begin="up">
                    <!-- <a-animation attribute="scale" to="1.3 1.3 1.3"></a-animation> -->
                </a-animation>
                <a-animation attribute="position" to="1.3 0 0" begin="down">
                    <!-- <a-animation attribute="scale" to="1 1 1"></a-animation> -->
                </a-animation>
                <a-entity text="value: Massimo Vitali;" position="0 1 0"></a-entity>
            </a-image>
            <a-image id="kusama-img" src="#kusama-src" position="0 0 0" rotation="-85 0 0" scale="1 1 1"
                emitevents="true">
                <a-animation attribute="position" to="0 1 0" begin="up">
                    <!-- <a-animation attribute="scale" to="1.3 1.3 1.3"></a-animation> -->
                </a-animation>
                <a-animation attribute="position" to="0 0 0" begin="down">
                    <!-- <a-animation attribute="scale" to="1 1 1"></a-animation> -->
                </a-animation>
                <!-- <a-animation attribute="position" to="0 1 0"  begin="up"></a-animation> -->
                <!-- <a-animation attribute="scale" to="1.3 1.3 1.3"  begin="down" ></a-animation> -->
                <a-entity text="value: Yayoi Kusama;" position="0 1 0"></a-entity>
            </a-image>
            <a-image id="robbin-img" src="#robbin-src" position="-1.3 0 0" rotation="-90 0 0" scale="1 1 1"
                emitevents="true">
                <a-animation attribute="position" to="-1.3 1 0" begin="up">
                    <!-- <a-animation attribute="scale" to="1.3 1.3 1.3"></a-animation> -->
                </a-animation>
                <a-animation attribute="position" to="-1.3 0 0" begin="down">
                    <!-- <a-animation attribute="scale" to="1 1 1"></a-animation> -->
                </a-animation>
                <!-- <a-animation attribute="position" to="-1.3 1 0"  begin="up"></a-animation> -->
                <!-- <a-animation attribute="scale" to="1.3 1.3 1.3"  begin="down" ></a-animation> -->
                <a-entity text="value: Tony Robbin;" position="0 1 0"></a-entity>
            </a-image>
        </a-entity>
    </a-marker>

    <!-- Define a static camera -->
    <a-camera-static />
</a-scene>