<nav class="navbar navbar-expand-lg navbar-dark justify-content-between"
  style="background: rgba(243, 111, 33, .9); border-bottom: solid 6px rgb(194, 89, 26);">

  <a class="navbar-brand" href="#">
    <img src="../assets/logo.png" class="d-inline-block align-top" alt="Harn Museum Logo" style="height:90px;">
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav"></ul>
  </div>
</nav>


<div style="display: grid; width: 100vw; background: url(../assets/body-bg.png);">

  <h1 style="text-align: center; color: black; padding: 0px 20px; font-size: 34px; margin-top: 15px; color: rgb(71, 67, 64); font-family: Karla; font-style: normal; font-weight: 600;">Welcome to an Augmented Reality (AR) Art Experience</h1>

  <p style="text-align: center; margin-bottom: 0px; margin-top: 5px; font-size: 20px;">Jump Right In!</p>

  <button ui-sref="ar" style=" display: inline-block; margin-left: auto; margin-right: auto; color:white; background-color: rgb(17, 128, 191); font-family: Karla; font-weight: 600; font-size: 24px; border-radius: 0px;">ENTER</button>

  <p style="text-align: center; margin-bottom: 0px; margin-top: 5px; font-size: 20px;">Scroll For More Info</p>
  <p style="text-align: center; margin-bottom: 0px; margin-top: 35px; font-size: 60px; line-height: 10px;">&caron;</p>

  <p style="padding: 5px 20px;">
    Augmented Reality (AR) refers to any computer generated images or animations superimposed onto the real world.
    Students from the University of Florida’s Gator Virtual Reality Club collaborated with the museum to produce 3
    unique AR installations for 3 different works of art.
  </p>

  <p style="padding: 5px 20px;">
    Adjacent to Yayoi Kusama’s Nets-Infinity (TWOS), Jeff Joyce’s Veil, and Michael Light’s Full Moon (Edward White
    Spacewalking Above Texas: Photo by James McDi) are special wall markers. Each marker has its own 3D AR content.

    To view the content:
  </p>
  <ol style="margin-right: 20px;">
    <li>Tap the “Enter!” button on the bottom of your screen.</li>
    <li>Hold up your smartphone so the marker image is within the black square brackets.</li>
    <li>Press the triangle “Play” button</li>
    <li>Experience Augmented Reality (AR) inspired by the art.</li>
  </ol>
  <p style="padding: 5px 20px;">

    To view these instructions again, press the “Back” button in the upper left-hand corner. If you have any
    questions, please visit the Bishop Study Center.</p>
  <button ui-sref="ar" style=" display: inline-block; margin-left: auto; margin-right: auto; color:white; background-color: rgb(17, 128, 191); font-family: Karla; font-weight: 600; font-size: 24px; border-radius: 0px;">ENTER</button>

  <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 10%; margin-right: 10%;">
    <div class="accordion">

      <!-- Panel 1 -->
      <div>
        <input type="checkbox" name="panel" id="panel-1">
        <label for="panel-1">Nets-Infinity</label>
        <div class="accordion__content accordion__content--med">
          <h4 class="accordion__header">Kusama's Box</h4>
          <p class="accordion__body">
            For this piece, we tried to emulate the creation of <i>Nets-Infinity</i>. Just like Kusama, we start with a
            blank canvas and start to meticulous add red in order to achieve the effect
            of a red canvas with white dots.
          </p>
        </div>
      </div>

      <!-- Panel 2 -->
      <div>
        <input type="checkbox" name="panel" id="panel-2">
        <label for="panel-2">Full Moon</label>
        <div class="accordion__content accordion__content--med">
          <h4 class="accordion__header">Animated Planetarium</h4>
          <p class="accordion__body">
            We think the association between our content and Full Moon is pretty straightforward. The entire solar
            system with approximate scale is represented in our 3D model.
            If you want to play around with this model and the code it took to put it in your browser, <a
              href="https://hacks.mozilla.org/2019/02/webvr-starter-kit-mozilla-glitch/"
              style="text-decoration: underline; color:black;">click here</a>.
          </p>
        </div>
      </div>

      <!-- Panel 3 -->
      <div>
        <input type="checkbox" name="panel" id="panel-3">
        <label for="panel-3">Veil</label>
        <div class="accordion__content">
          <h4 class="accordion__header">Nature Portal</h4>
          <p class="accordion__body">
            For this piece, we decided to take inspiration from the appreciation of nature theme that Joyce captures in
            his work. The picture is of La'Chua Trail
            and is a location you could go visit today if you wanted. Our goal is to promote exploration of
            Gainesville's natural landscape.
          </p>
        </div>
      </div>

    </div><!-- .accordion -->
  </div>
</div>

<footer style="background-color: rgb(54, 54, 54); background-image: none;">
  <div style="padding: 5%">
    <div style="padding-bottom: 0.25em">
      <a href="https://www.facebook.com/groups/gatorvr/">
        <img src="../assets/favicon/android-chrome-192x192.png" width="75" height="75" class="d-inline-block align-top"
          alt="">
      </a>
    </div>
    <div class="team__group">
      <label class="team__label">
        Project Lead
      </label>
      <ul>
        <li class="team__li">
          <a href="https://www.linkedin.com/in/liam-wood-abb160154/">
            Liam Wood
          </a>
        </li>
        <li class="team__li">
          <a href="https://www.linkedin.com/in/wangfreya097/">
            Freya Wang
          </a>
        </li>
      </ul>
    </div>
    <div class="team__group">
      <label class="team__label">
        Development Lead
      </label>
      <ul>
        <li class="team__li">
          <a href="https://www.linkedin.com/in/ryan-horoff/">
            Ryan Horoff
          </a>
        </li>
      </ul>
    </div>
    <div class="team__group">
      <label class="team__label">
        Developers
      </label>
      <ul>
        <li class="team__li">
          <a href="https://www.linkedin.com/in/joseph-lam-275588167/">
            Joseph Lam
          </a>
        </li>
        <li class="team__li">
          <a href="https://www.linkedin.com/mynetwork/invite-sent/kelvin-chang-473882166/?isSendInvite=true">
            Kelvin Chang
          </a>
        </li>
        <li class="team__li">
          <a href="</a>">
            Addison Biagi
          </a>
        </li>
        <li class="team__li">
          Siyu Chen
        </li>
      </ul>
    </div>
    <div class="team__group">
      <label class="team__label">
        Design Lead
      </label>
      <ul>
        <li class="team__li">
          <a href="https://www.linkedin.com/in/joshua-philoctete/">Joshua Philoctete</a>
        </li>
      </ul>
    </div>
    <div class="team__group">
      <label class="team__label">
        Designers
      </label>
      <ul>
        <li class="team__li">
          <a href="https://www.chaples.us/">
            Christopher Chaples
          </a>
      </ul>
    </div>
  </div>
</footer>
