<link rel="stylesheet" href="../landing.css">
<nav class="navbar navbar-expand-lg navbar-dark justify-content-between"
  style="background-color: black; background-image: none">

  <a class="navbar-brand" href="#">
    <img src="../assets/favicon/android-chrome-192x192.png" width="45" height="45" class="d-inline-block align-top"
      alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="https://gatorvr.slack.com/"><i class="fa fa-slack"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="https://facebook.com/groups/gatorvr/"><i
            class="fa fa-facebook"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="https://gatorvr.weebly.com/"><i
            class="fa fa-twitter fa-lg"></i></a></li>
    </ul>
  </div>
</nav>

<div style="display: grid; width: 100vw; ">

  <h1 style="text-align: center; color: black;">Harn Museum AR Experience!</h1>

  <p style="text-align: center; width: 80vw; margin-left: auto;
      margin-right: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p style="text-align: center; width: 80vw; margin-left: auto;
        margin-right: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p style="text-align: center; width: 60vw; margin-left: auto;
          margin-right: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <!-- <script sstrc="./script.js"></script> -->
  <button ui-sref="ar" style=" display: inline-block; margin-left: auto;
      margin-right: auto; color:black; border: 1px solid black; margin-bottom: 30px;">Enter!</button>

  <button class="accordion">Section 1</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Section 2</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Section 3</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>
</div>
</div>