<link rel="stylesheet" href="../landing.css">
<nav class="navbar navbar-expand-lg navbar-dark justify-content-between"
  style="background-color: black; background-image: none">

  <a class="navbar-brand" href="#">
    <img src="../assets/favicon/android-chrome-192x192.png" width="45" height="45" class="d-inline-block align-top"
      alt="">
  </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" href="https://gatorvr.slack.com/"><i class="fa fa-slack"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="https://facebook.com/groups/gatorvr/"><i
            class="fa fa-facebook"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="https://gatorvr.weebly.com/"><i
            class="fa fa-twitter fa-lg"></i></a></li>
    </ul>
  </div>
</nav>

<div style="display: grid; width: 100vw; ">

  <h1 style="text-align: center; color: black;">Harn Museum AR Experience!</h1>

  <!-- <p style="text-align: center; width: 80vw; margin-left: auto;
      margin-right: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p style="text-align: center; width: 80vw; margin-left: auto;
        margin-right: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p style="text-align: center; width: 60vw; margin-left: auto;
          margin-right: auto;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
  <!-- <script sstrc="./script.js"></script> -->
  <button ui-sref="ar" style=" display: inline-block; margin-left: auto;
      margin-right: auto; color:black; border: 1px solid black; margin-bottom: 30px;">Enter!</button>

  <div style="display: flex; flex-direction: column; justify-content: center; margin-left: 10%; margin-right: 10%;">
    <div class="accordion">

      <!-- Panel 1 -->
      <div>
        <input type="checkbox" name="panel" id="panel-1">
        <label for="panel-1">Panel 1</label>
        <div class="accordion__content accordion__content--small">
          <h2 class="accordion__header">Header</h2>
          <p class="accordion__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto possimus at a cum saepe molestias modi illo facere ducimus voluptatibus praesentium deleniti fugiat ab error quia sit perspiciatis velit necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    
      <!-- Panel 2 -->
      <div>
        <input type="checkbox" name="panel" id="panel-2">
        <label for="panel-2">Panel 2</label>
        <div class="accordion__content accordion__content--med">
          <h2 class="accordion__header">Header</h2>
          <p class="accordion__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto possimus at a cum saepe molestias modi illo facere ducimus voluptatibus praesentium deleniti fugiat ab error quia sit perspiciatis velit necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente eligendi nulla illo culpa ab in at adipisci eveniet id itaque maxime soluta recusandae doloribus laboriosam dignissimos est aut cupiditate delectus.</p>
        </div>
      </div>
    
      <!-- Panel 3 -->
      <div>
        <input type="checkbox" name="panel" id="panel-3">
        <label for="panel-3">Panel 3</label>
        <div class="accordion__content accordion__content--small">
          <h2 class="accordion__header">Header</h2>
          <p class="accordion__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto possimus at a cum saepe molestias modi illo facere ducimus voluptatibus praesentium deleniti fugiat ab error quia sit perspiciatis velit necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    
      <!-- Panel 4 -->
      <div>
        <input type="checkbox" name="panel" id="panel-4">
        <label for="panel-4">Panel 4</label>
        <div class="accordion__content accordion__content--large">
          <h2 class="accordion__header">Header</h2>
          <p class="accordion__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto possimus at a cum saepe molestias modi illo facere ducimus voluptatibus praesentium deleniti fugiat ab error quia sit perspiciatis velit necessitatibus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda odio provident ullam culpa rem tempora voluptatem inventore facere adipisci doloribus dolorum ad maxime itaque quasi animi aliquid voluptates rerum expedita? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui culpa amet neque nostrum cumque eaque corrupti ad accusantium? Consectetur reiciendis ad earum aspernatur at quibusdam cupiditate rerum ipsam consequatur suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab rem explicabo exercitationem unde harum? Iste nobis quae animi illum laborum incidunt hic illo ad repellat repudiandae et alias facere magni.</p>
        </div>
      </div>
    
    </div><!-- .accordion -->
  </div>
</div>